.arc-product-specs-header {
	font-size: 2.3rem;
	font-family: "HeronSansBold", Arial, Helvetica, sans-serif;
	margin-bottom: 0;
	margin-top: 3rem;
	padding: 0 1rem;
	position: relative;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	margin: 0.67em 0;
	font-weight: 400;
}

.container-maxwidth,
.container-halfwidth,
.container-quarterwidth,
.container-xmaxwidth {
	margin-left: auto;
	margin-right: auto;
	width: 100%
}

.arc-product-specs-container {
	padding: 0 1rem
}

.arc-product-specs-ruler-v {
	position: absolute;
	height: 100%;
	top: 0;
	left: -13%
}

.container-maxwidth:before,
.container-maxwidth:after {
	content: " ";
	display: table
}

.container-maxwidth:after {
	clear: both
}

.container-maxwidth {
	max-width: 1006px
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
	float: left
}

.col-xs-1 {
	width: 8.33333%
}

.col-xs-2 {
	width: 16.66667%
}

.col-xs-3 {
	width: 25%
}

.col-xs-4 {
	width: 33.33333%
}

.col-xs-5 {
	width: 41.66667%
}


.col-xs-7 {
	width: 58.33333%
}

.col-xs-8 {
	width: 57.66667%
}

.col-xs-9 {
	width: 75%
}

.col-xs-10 {
	width: 83.33333%
}

.col-xs-11 {
	width: 91.66667%
}

.col-xs-12 {
	width: 100%
}

.col-xs-pull-0 {
	right: auto
}

.col-xs-pull-1 {
	right: 8.33333%
}

.col-xs-pull-2 {
	right: 16.66667%
}

.col-xs-pull-3 {
	right: 25%
}

.col-xs-pull-4 {
	right: 33.33333%
}

.col-xs-pull-5 {
	right: 41.66667%
}

.col-xs-pull-6 {
	right: 50%
}

.col-xs-pull-7 {
	right: 58.33333%
}

.col-xs-pull-8 {
	right: 66.66667%
}

.col-xs-pull-9 {
	right: 75%
}

.col-xs-pull-10 {
	right: 83.33333%
}

.col-xs-pull-11 {
	right: 91.66667%
}

.col-xs-pull-12 {
	right: 100%
}

.col-xs-push-0 {
	left: auto
}

.col-xs-push-1 {
	left: 8.33333%
}

.col-xs-push-2 {
	left: 16.66667%
}

.col-xs-push-3 {
	left: 25%
}

.col-xs-push-4 {
	left: 33.33333%
}

.col-xs-push-5 {
	left: 41.66667%
}

.col-xs-push-6 {
	left: 50%
}

.col-xs-push-7 {
	left: 58.33333%
}

.col-xs-push-8 {
	left: 66.66667%
}

.col-xs-push-9 {
	left: 75%
}

.col-xs-push-10 {
	left: 83.33333%
}

.col-xs-push-11 {
	left: 91.66667%
}

.col-xs-push-12 {
	left: 100%
}

.col-xs-offset-0 {
	margin-left: 0%
}

.col-xs-offset-1 {
	margin-left: 8.33333%
}

.col-xs-offset-2 {
	margin-left: 16.66667%
}

.col-xs-offset-3 {
	margin-left: 25%
}

.col-xs-offset-4 {
	margin-left: 33.33333%
}

.col-xs-offset-5 {
	margin-left: 41.66667%
}

.col-xs-offset-6 {
	margin-left: 50%
}

.col-xs-offset-7 {
	margin-left: 58.33333%
}

.col-xs-offset-8 {
	margin-left: 66.66667%
}

.col-xs-offset-9 {
	margin-left: 75%
}

.col-xs-offset-10 {
	margin-left: 83.33333%
}

.col-xs-offset-11 {
	margin-left: 91.66667%
}

.col-xs-offset-12 {
	margin-left: 100%
}

@media (min-width: 768px) {
	.col-sm-1,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12 {
		float: left
	}
	.col-sm-1 {
		width: 8.33333%
	}
	.col-sm-2 {
		width: 16.66667%
	}
	.col-sm-3 {
		width: 25%
	}
	.col-sm-4 {
		width: 33.33333%
	}
	.col-sm-5 {
		width: 41.66667%
	}
	.col-sm-6 {
		width: 50%
	}
	.col-sm-7 {
		width: 58.33333%
	}
	.col-sm-8 {
		width: 66.66667%
	}
	.col-sm-9 {
		width: 75%
	}
	.col-sm-10 {
		width: 83.33333%
	}
	.col-sm-11 {
		width: 91.66667%
	}
	.col-sm-12 {
		width: 100%
	}
	.col-sm-pull-0 {
		right: auto
	}
	.col-sm-pull-1 {
		right: 8.33333%
	}
	.col-sm-pull-2 {
		right: 16.66667%
	}
	.col-sm-pull-3 {
		right: 25%
	}
	.col-sm-pull-4 {
		right: 33.33333%
	}
	.col-sm-pull-5 {
		right: 41.66667%
	}
	.col-sm-pull-6 {
		right: 50%
	}
	.col-sm-pull-7 {
		right: 58.33333%
	}
	.col-sm-pull-8 {
		right: 66.66667%
	}
	.col-sm-pull-9 {
		right: 75%
	}
	.col-sm-pull-10 {
		right: 83.33333%
	}
	.col-sm-pull-11 {
		right: 91.66667%
	}
	.col-sm-pull-12 {
		right: 100%
	}
	.col-sm-push-0 {
		left: auto
	}
	.col-sm-push-1 {
		left: 8.33333%
	}
	.col-sm-push-2 {
		left: 16.66667%
	}
	.col-sm-push-3 {
		left: 25%
	}
	.col-sm-push-4 {
		left: 33.33333%
	}
	.col-sm-push-5 {
		left: 41.66667%
	}
	.col-sm-push-6 {
		left: 50%
	}
	.col-sm-push-7 {
		left: 58.33333%
	}
	.col-sm-push-8 {
		left: 66.66667%
	}
	.col-sm-push-9 {
		left: 75%
	}
	.col-sm-push-10 {
		left: 83.33333%
	}
	.col-sm-push-11 {
		left: 91.66667%
	}
	.col-sm-push-12 {
		left: 100%
	}
	.col-sm-offset-0 {
		margin-left: 0%
	}
	.col-sm-offset-1 {
		margin-left: 8.33333%
	}
	.col-sm-offset-2 {
		margin-left: 16.66667%
	}
	.col-sm-offset-3 {
		margin-left: 25%
	}
	.col-sm-offset-4 {
		margin-left: 33.33333%
	}
	.col-sm-offset-5 {
		margin-left: 41.66667%
	}
	.col-sm-offset-6 {
		margin-left: 50%
	}
	.col-sm-offset-7 {
		margin-left: 58.33333%
	}
	.col-sm-offset-8 {
		margin-left: 66.66667%
	}
	.col-sm-offset-9 {
		margin-left: 75%
	}
	.col-sm-offset-10 {
		margin-left: 83.33333%
	}
	.col-sm-offset-11 {
		margin-left: 91.66667%
	}
	.col-sm-offset-12 {
		margin-left: 100%
	}
}

@media (min-width: 1024px) {
	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		float: left
	}
	.col-md-1 {
		width: 8.33333%
	}
	.col-md-2 {
		width: 16.66667%
	}
	.col-md-3 {
		width: 25%
	}
	.col-md-4 {
		width: 33.33333%
	}
	.col-md-5 {
		width: 41.66667%
	}
	.col-md-6 {
		width: 50%
	}
	.col-md-7 {
		width: 58.33333%
	}
	.col-md-8 {
		width: 66.66667%
	}
	.col-md-9 {
		width: 75%
	}
	.col-md-10 {
		width: 83.33333%
	}
	.col-md-11 {
		width: 91.66667%
	}
	.col-md-12 {
		width: 100%
	}
	.col-md-pull-0 {
		right: auto
	}
	.col-md-pull-1 {
		right: 8.33333%
	}
	.col-md-pull-2 {
		right: 16.66667%
	}
	.col-md-pull-3 {
		right: 25%
	}
	.col-md-pull-4 {
		right: 33.33333%
	}
	.col-md-pull-5 {
		right: 41.66667%
	}
	.col-md-pull-6 {
		right: 50%
	}
	.col-md-pull-7 {
		right: 58.33333%
	}
	.col-md-pull-8 {
		right: 66.66667%
	}
	.col-md-pull-9 {
		right: 75%
	}
	.col-md-pull-10 {
		right: 83.33333%
	}
	.col-md-pull-11 {
		right: 91.66667%
	}
	.col-md-pull-12 {
		right: 100%
	}
	.col-md-push-0 {
		left: auto
	}
	.col-md-push-1 {
		left: 8.33333%
	}
	.col-md-push-2 {
		left: 16.66667%
	}
	.col-md-push-3 {
		left: 25%
	}
	.col-md-push-4 {
		left: 33.33333%
	}
	.col-md-push-5 {
		left: 41.66667%
	}
	.col-md-push-6 {
		left: 50%
	}
	.col-md-push-7 {
		left: 58.33333%
	}
	.col-md-push-8 {
		left: 66.66667%
	}
	.col-md-push-9 {
		left: 75%
	}
	.col-md-push-10 {
		left: 83.33333%
	}
	.col-md-push-11 {
		left: 91.66667%
	}
	.col-md-push-12 {
		left: 100%
	}
	.col-md-offset-0 {
		margin-left: 0%
	}
	.col-md-offset-1 {
		margin-left: 8.33333%
	}
	.col-md-offset-2 {
		margin-left: 16.66667%
	}
	.col-md-offset-3 {
		margin-left: 25%
	}
	.col-md-offset-4 {
		margin-left: 33.33333%
	}
	.col-md-offset-5 {
		margin-left: 41.66667%
	}
	.col-md-offset-6 {
		margin-left: 50%
	}
	.col-md-offset-7 {
		margin-left: 58.33333%
	}
	.col-md-offset-8 {
		margin-left: 66.66667%
	}
	.col-md-offset-9 {
		margin-left: 75%
	}
	.col-md-offset-10 {
		margin-left: 83.33333%
	}
	.col-md-offset-11 {
		margin-left: 91.66667%
	}
	.col-md-offset-12 {
		margin-left: 100%
	}
}

@media (min-width: 1200px) {
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		float: left
	}
	.col-lg-1 {
		width: 8.33333%
	}
	.col-lg-2 {
		width: 16.66667%
	}
	.col-lg-3 {
		width: 25%
	}
	.col-lg-4 {
		width: 33.33333%
	}
	.col-lg-5 {
		width: 41.66667%
	}
	.col-lg-6 {
		width: 50%
	}
	.col-lg-7 {
		width: 58.33333%
	}
	.col-lg-8 {
		width: 66.66667%
	}
	.col-lg-9 {
		width: 75%
	}
	.col-lg-10 {
		width: 83.33333%
	}
	.col-lg-11 {
		width: 91.66667%
	}
	.col-lg-12 {
		width: 100%
	}
	.col-lg-pull-0 {
		right: auto
	}
	.col-lg-pull-1 {
		right: 8.33333%
	}
	.col-lg-pull-2 {
		right: 16.66667%
	}
	.col-lg-pull-3 {
		right: 25%
	}
	.col-lg-pull-4 {
		right: 33.33333%
	}
	.col-lg-pull-5 {
		right: 41.66667%
	}
	.col-lg-pull-6 {
		right: 50%
	}
	.col-lg-pull-7 {
		right: 58.33333%
	}
	.col-lg-pull-8 {
		right: 66.66667%
	}
	.col-lg-pull-9 {
		right: 75%
	}
	.col-lg-pull-10 {
		right: 83.33333%
	}
	.col-lg-pull-11 {
		right: 91.66667%
	}
	.col-lg-pull-12 {
		right: 100%
	}
	.col-lg-push-0 {
		left: auto
	}
	.col-lg-push-1 {
		left: 8.33333%
	}
	.col-lg-push-2 {
		left: 16.66667%
	}
	.col-lg-push-3 {
		left: 25%
	}
	.col-lg-push-4 {
		left: 33.33333%
	}
	.col-lg-push-5 {
		left: 41.66667%
	}
	.col-lg-push-6 {
		left: 50%
	}
	.col-lg-push-7 {
		left: 58.33333%
	}
	.col-lg-push-8 {
		left: 66.66667%
	}
	.col-lg-push-9 {
		left: 75%
	}
	.col-lg-push-10 {
		left: 83.33333%
	}
	.col-lg-push-11 {
		left: 91.66667%
	}
	.col-lg-push-12 {
		left: 100%
	}
	.col-lg-offset-0 {
		margin-left: 0%
	}
	.col-lg-offset-1 {
		margin-left: 8.33333%
	}
	.col-lg-offset-2 {
		margin-left: 16.66667%
	}
	.col-lg-offset-3 {
		margin-left: 25%
	}
	.col-lg-offset-4 {
		margin-left: 33.33333%
	}
	.col-lg-offset-5 {
		margin-left: 41.66667%
	}
	.col-lg-offset-6 {
		margin-left: 50%
	}
	.col-lg-offset-7 {
		margin-left: 58.33333%
	}
	.col-lg-offset-8 {
		margin-left: 66.66667%
	}
	.col-lg-offset-9 {
		margin-left: 75%
	}
	.col-lg-offset-10 {
		margin-left: 83.33333%
	}
	.col-lg-offset-11 {
		margin-left: 91.66667%
	}
	.col-lg-offset-12 {
		margin-left: 100%
	}
}

.arc-product-specs-ruler-v:before {
	content: "";
	position: absolute;
	border: 0 solid #ddd;
	border-left-width: 1px;
	top: 10%;
	bottom: 10%;
	left: 50%
}

.arc-product-specs-v-measure {
	padding: 1rem 2rem;
	top: 48%;
	margin-top: -2.8rem;
	display: block;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: relative;
	z-index: 4;
	background: #ffffff;
	display: inline-block;
	font-family: "HeronSansBold", Arial, Helvetica, sans-serif;
	font-size: 1.5rem
}

.arc-product-dimension-container {
	min-height: 1rem
}

@media (min-width: 1024px) {
	.arc-accordion-within-layout {
		margin-top: -3px
	}
}

.arc-accordion-within {
	background-color: #ffffff
}

.arc-product-compare-accordion-container .arc-accordion-list-element {
	position: static;
	box-shadow: none;
	border-top: 0;
	padding: 0
}

.arc-product-compare-accordion-container .arc-accordion-open-icon {
	margin-top: 0.5rem
}


.arc-expert-advice-facets-container .arc-accordion-open-icon {
	margin-top: 0.5rem
}


.arc-expert-advice-container .arc-accordion-list-element {
	box-shadow: none;
	border-top: 0;
	padding: 0;
	font-family: "HeronSansRegular", Arial, Helvetica, sans-serif;
	font-size: 1.8rem
}

.arc-expert-advice-container .arc-accordion-open-icon {
	margin-top: 0.5rem
}

.sidebar .arc-accordion-open-icon-sidebar {
	margin-top: .4rem
}

.sidebar .arc-accordion-open-icon-facets {
	margin-top: .9rem;
	font-size: 1.2rem;
	display: inline-block;
	color: #000;
	cursor: pointer
}

.arc-accordion-heading {
	position: relative;
	vertical-align: middle;
	font-family: "HeronSansBold", Arial, Helvetica, sans-serif;
	font-size: 2.7rem;
	padding: 0.25rem 0 .25rem 0;
	margin: 0
}


.arc-accordion-open-icon {
	margin-top: 1.4rem;
	margin-right: 1rem
}

.arc-accordion-list-element {
	cursor: pointer;
	padding: 0 0 .3rem;
	background-color: #fff
}

.arc-accordion-container {
	padding: 0 1rem
}

.arc-accordion-img {
	width: 3.2rem;
	margin: 1rem 1rem -.5rem
}

.arc-accordion-inner-space {
	padding-top: 1rem
}

.arc-pdp-accordion {
	margin-bottom: 0
}

@media (min-width: 768px) {
	.arc-accordion-heading h2 {
		display: inherit;
		padding-bottom: .25rem
	}
	.arc-accordion-open-icon {
		margin-top: 1.4rem
	}
}



ul {
	padding-left: 0;
	margin-top: 0
}

li {
	list-style-type: none;
	margin-bottom: 0
}


@media (max-width: 768px) {
	.arc-accordion-heading {
		font-size: 1.7rem
	}
	.arc-accordion-heading h2 {
		display: inline-block;
		padding: 0.25rem 0 1rem 0;
		font-size: 1.7rem
	}
	.arc-accordion-open-icon {
		margin-top: 2rem
	}
	.arc-accordion-list-element {
		border-top: 0.1rem solid #5c5c5c
	}
	.arc-last-accordion {
		border-bottom: 0.1rem solid #5c5c5c
	}
}

.arc-product-specs-table-text {
	font-family: Helvetica;
	font-size: 0.85rem;
	padding: 1rem 0 1rem 0;
}

.arc-product-specs-table {
	display: table;
	table-layout: fixed;
	width: 100%
}

.arc-product-specs-table>* {
	vertical-align: top
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	padding-right: 5px
}

.container:before,
.container:after {
	content: " ";
	display: table
}

.container:after {
	clear: both
}

@media (min-width: 768px) {
	.container {
		width: 730px
	}
}

@media (min-width: 1024px) {
	.container {
		width: 1006px
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1006px
	}
}

@media (min-width: 768px) {
	.container.container-recommendation {
		width: 730px
	}
}

@media (min-width: 1024px) {
	.container.container-recommendation {
		width: 730px
	}
}

@media (min-width: 1200px) {
	.container.container-recommendation {
		width: 880px
	}
}

.container-fluid {
	overflow: hidden;
	margin-right: auto;
	margin-left: auto;
	padding-left: 5px;
	padding-right: 5px
}

.container-fluid:before,
.container-fluid:after {
	content: " ";
	display: table
}

.container-fluid:after {
	clear: both
}

.row {
	margin-left: -5px;
	margin-right: -5px
}

.row:before,
.row:after {
	content: " ";
	display: table
}

.row:after {
	clear: both
}

.arc-product-specs-table .text,
.arc-product-specs-table .value {
	width: 49%;
	display: inline-block;
	vertical-align: top
}

.arc-product-specs-table .value {
	text-align: right;
	word-wrap: break-word
}

.arc-product-specs-subheader {
	font-size: 1.6rem;
	font-family: "HeronSansBold", Arial, Helvetica, sans-serif;
	color: #000000;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 400;
	font-size: 62.5%;
}

@media (min-width: 426px) {
	.arc-product-specs-header {
		font-size: 2rem;
		font-family: "HeronSansLight", Arial, Helvetica, sans-serif;
		margin-top: 10rem;
		margin-bottom: 5rem;
		
	}
	.arc-product-specs-subheader {
		font-size: 1.6rem;
		font-family: "HeronSansBold", Arial, Helvetica, sans-serif;

	}
	.arc-product-specs-ruler-v {
		left: -6%
	}
	.arc-product-spec-custom-grid>* {
		display: inline-block;
		vertical-align: top
	}
	.arc-product-spec-features {
		width: 35%;
		padding-right: 14%;
		padding-bottom: 40px
	}
}

@media (min-width: 1024px) {
	.arc-accordion-list-element {
		position: relative;
		margin-bottom: 3px;
		box-shadow: 0 2px 7px -2px #cecece
	}
}

.arc-accordion-heading .arc-link {
	display: inline
}

.arc-accordion-heading h2 {
	position: relative;
	vertical-align: middle;
	font-family: "HeronSansBold", Arial, Helvetica, sans-serif;
	font-size: rem;
	padding: 0.25rem 0 .25rem 0;
	margin: 0;
	display: inline-block;
	font-weight: normal
}


.sidebar .arc-accordion-open-icon {
	margin-top: .5rem
}

.arc-accordion-inner-space {
	padding-top: 1rem
}

.arc-product-attributes-wrapper {
	margin-top: 4rem;
	margin-bottom: 4rem
}

.arc-product-attributes-wrapper .arc-img-responsive {
	width: 80%;
	padding: 0rem 0rem 3rem 6rem;
	margin: auto
}

.arc-product-specs-measures-header {
	font-size: 1rem;
	font-family: "HeronSansRegular", Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #5c5c5c
}

.arc-product-specs-measures {
	font-size: 1.5rem;
	font-family: "HeronSansRegular", Arial, Helvetica, sans-serif
}

.arc-product-specs-h-measure {
	padding: 0.5rem 2rem;
	position: relative;
	z-index: 4;
	background: #ffffff;
	display: inline-block;
	font-family: "HeronSansBold", Arial, Helvetica, sans-serif;
	font-size: 1.3rem
}

.arc-product-specs-ruler-h {
	position: absolute;
	left: 4.0rem;
	bottom: -2rem;
	width: 90%;
	text-align: center
}

.arc-product-specs-ruler-h:before {
	content: "";
	position: absolute;
	border: 0 solid #ddd;
	border-top-width: 1px;
	top: 50%;
	right: 10%;
	left: 10%
}

.arc-product-specs-primary {
	font-family: Helvetica;
	font-size: 0.9rem;
	line-height: 1.2;
	margin-top: 3rem
}

@media (min-width: 1024px) {
	.arc-product-specs-ruler-v {
		left: -9%
	}
	.arc-product-specs-text {
		font-family: "HeronSansRegular", Arial, Helvetica, sans-serif;
		font-size: 2.3rem
	}
	.arc-product-specs-primary {
		font-size: 1.5rem
	}
	.arc-product-specs-secondary {
		font-size: 1rem
	}
	.arc-product-specs-primary {
		margin-top: 0
	}
}


@media (min-width: 1024px) {
	.ems-vip-container .arc-product-specs-primary {
		margin-top: 2rem !important;
		font-size: 1.9rem !important;
		line-height: 3rem !important
	}
}


.arc-product-specs-secondary {
	font-family: "HeronSansRegular", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	font-style: italic;
	line-height: 1.2;
	color: #5c5c5c
}
